// success
// error
// info
//  

// TEXT COLOR
.color-light{color: $color-light;}

.color-dark{color: $color-dark;}

.color-primary{color: $color-primary;}

.color-secondary{color: $color-secondery;}

.color-success{color: $color-success;}

.color-error{color: $color-error;}

.color-info{color: $color-info;}

.color-cta{color: $color-cta;}


// BACKGROUND COLOR
.bg-light{background-color: $color-light;}

.bg-dark{background-color: $color-dark;}

.bg-primary{background-color: $color-primary;}

.bg-secondary{background-color: $color-secondery;}

.bg-success{background-color: $color-success;}

.bg-error{background-color: $color-error;}

.bg-info{background-color: $color-info;}

.bg-cta{background-color: $color-cta;}